<h2 mat-dialog-title>
  Card filter
</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <mat-label>
        Color
      </mat-label>
      <mat-select formControlName="colors" multiple>
        <mat-option *ngFor="let color of colors" [value]="color.key">
          {{color.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Rarity
      </mat-label>
      <mat-select formControlName="rarity">
        <mat-option *ngFor="let rarity of rarities" [value]="rarity">
          {{rarity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="primary" [mat-dialog-close]="onSubmit()">
      Apply
    </button>
    <button type="button" mat-raised-button color="warn" mat-dialog-close>
      Cancel
    </button>
  </mat-dialog-actions>
</form>
