<app-toolbar>
  <button type="button" mat-icon-button matTooltip="Filter" (click)="displayFilter()">
    <mat-icon>
      filter_list
    </mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Clear filter" (click)="clearFilter()">
    <mat-icon>
      cancel
    </mat-icon>
  </button>
  <button type="button" mat-icon-button matTooltip="Create wantlist" (click)="createWantlist()">
    <mat-icon>
      cancel
    </mat-icon>
  </button>
</app-toolbar>
<app-cards-table
  [cards]="cards"
  [setData]="setData"
  [setStats]="setStats"
  (modifyCollection)="modifyCollection($event)">
</app-cards-table>
